@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap); 
/* Nav Section */

html {
    font-family: sans-serif;
    margin: 0;
}

.logo img {
    width: 268px;
    height:33px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color:#747474;
}

nav a:hover {
    color: #00b39b;
    text-decoration: none;
}

nav a:active {
    color: #00b39b;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
}

/* Hero Section */

#Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

#Hero img {
    width: 40px;
    height: 40px;
    aspect-ratio: 4/4;
}

#Hero h2 {
    color: #00b39b;
    font-size: 3.29rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}

.paragraphs {
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    justify-content: space-between;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 10px;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}
.box1, .box3 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 10px;
    height: 345px;
    width: 320PX;
    justify-content: center;
    align-items: center;
}

.box1 h2, .box2 h2, .box3 h2{
    padding: 0;
    margin: 0;
    color: white !important;
}

.box1 p, .box2 p, .box3 p{
    padding: 0;
    margin: 0;
    color: white !important;
}

select {
    background-color: rgba(255, 0, 0, 0) !important;
    border: none;
    font-size: 1.5rem;
    color: white !important;
    text-decoration: underline;

}

select:focus {
    outline: none;
}

.box1 option, .box3 option{
    background-color: #00ccb1 !important;
}


.box2 {
        background-color: #3d83df;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        row-gap: 10px;
        height: 345px;
        width: 320PX;
        justify-content: center;
        align-items: center;
}

.box2 option {
    background-color: #3d83df !important;
    border: none !important;
}

.box3 {
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 10px;
    height: 345px;
    width: 320PX;
    justify-content: center;
    align-items: center;
}

.box3 option {
    background-color: #1b2734 !important;
    border: none !important;
}


/* Sponsors */

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.text {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}
.logos {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.logos img {
    width: 7.5rem;
    object-fit: contain;
    height: 7.5rem;
}

/* Achievement */
#achievements {
    display: flex;
    justify-content: center;
    align-items:end;
    background-color: #d0faf4;
    height: 600px;
}

.description h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
}

.description p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}


.card1, .card2, .card3, .card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 4px;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card1 p, .card2 p, .card3 p, .card4 p {
    font-size: 15px;
    color: #747474;
}

.card1 h2, .card2 h2, .card3 h2, .card4 h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.container {
    display: flex;
}

.card1 img{
   width: 25px;
}

.textop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 50%;
}

.textop h2 {
    font-size: 40px;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}

.textop p {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.countries {
    width: 85%;
    flex-wrap: wrap;
    gap: 0.5cm;
    justify-content: center;
}

.country {
    border-radius: 3%;
    margin: 0.44%;
}

.country button {
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.country p {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.country:hover {
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}

.country .details {
    display: flex;
    justify-content: space-between;
}

#openings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CTO p {
    font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: center;
}

.CTO button {
  background-color: #3d83df;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  border-radius: 4px;
  text-align: center;
  border: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 12px;
}

.CTO {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
  }

  .foot p {
    padding-top: 20px;
  }